<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Dashboard</title>

</head>
<body>

<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">¡Bienvenido, {{ nombre }}!</h1>
    <p class="lead">Este es tu panel de control. Aquí encontrarás información relevante y la lista de juegos disponibles.</p>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h2>Lista de Juegos</h2>
      <app-games></app-games>
    </div>
    <div class="col-md-4">
     
    </div>
  </div>
</div>


</body>
</html>
