<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin</title>

</head>
<body>

<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">¡Bienvenido, {{ nombre }}!</h1>
    <p class="lead">Este es tu panel de control de Admin.</p>
    <hr class="my-4">
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-primary btn-lg btn-block">Agregar Usuarios</button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-success btn-lg btn-block" >Agregar Juegos</button>
      </div>
    </div>
  </div>
</div>


