body {
    background-color: #f8f9fa;
  }
  
  .container {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  h2 {
    text-align: center;
    color: #007bff;
  }
  
  label {
    font-weight: bold;
  }
  

  select.form-control {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: linear-gradient(45deg, transparent 50%, #007bff 50%),
                linear-gradient(135deg, #007bff 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px),
                        calc(100% - 15px) calc(1em + 2px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
    padding-right: 30px; 
    cursor: pointer;
  }
  